<br><br>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Producto</div>
    <div class="card-body">
      <h5 class="card-title"><h3>{{maquinaria.nombre | uppercase }}</h3></h5>
      <div class="media">
        <div class="media-left">
            <fa-icon class="mr-3 fa-2x" [icon]='faBarcode'></fa-icon>
        </div>
        <div class="media-body">
            <small class="media-heading">Código</small>
            <p class="h6"><strong>{{maquinaria.codigo}}</strong></p>
        </div>
    </div> 
    <div class="media">
        <div class="media-left">
            <fa-icon class="mr-3 fa-2x" [icon]='faCalendarDay'></fa-icon>
        </div>
        <div class="media-body">
            <small class="media-heading">Fecha de Adquisición</small>
            <p class="h6"><strong>{{maquinaria.fecha_adquisicion | date:'longDate' }}</strong></p>
        </div>
    </div> 
    <div class="media">
        <div class="media-left">
            <fa-icon class="mr-3 fa-2x" [icon]='faMoneyCheckAlt'></fa-icon>
        </div>
        <div class="media-body">
            <small class="media-heading">Precio</small>
            <p class="h6"><strong>{{maquinaria.precio | currency }}</strong></p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <fa-icon class="mr-3 fa-2x" [icon]='faPercent'></fa-icon>
        </div>
        <div class="media-body">
            <small class="media-heading">Porcentaje de depreciación anual</small>
            <p class="h6"><strong>{{maquinaria.porcentaje_depreciacion}}%</strong></p>
        </div>
    </div>
    </div>
    <button [routerLink]="['/maquinaria/list']" class="btn btn-info" ><fa-icon [icon]="faListAlt"></fa-icon>&nbsp;Volver</button> 
  </div>